<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>FIRST</string>
		<string>चच चच चच चच चच</string>
		<string>तत तत तत तत तत</string>
		<string>कक कक कक कक</string>
		<string>रर रर रर रर रर</string>
		<string>पप पप पप पप पप</string>
		<string>चत चत चत चत चत</string>
		<string>चक चक चक चक कच</string>
		<string>रक रक रत रत रच रच</string>
		<string>टट टच टट टट टट टट टट</string>
		<string>टच टच चट चट चट चटप</string>
		<string>टचप टचप टचप पतच</string>
		<string>चो चो चो चो चोर चोर चोर</string>
		<string>तोर रोच रोच रोत रोत रोक</string>
		<string>कोक कोत कोच कोच कोर</string>
		<string>रेत रेत रेत रेट टेट टेक टेप</string>
		<string>रिक किक कित कित</string>
		<string>किप पिक</string>
		<string>चोच चेचे चोचो</string>
		<string>कोको कोके कोके</string>
		<string>रोरो रोरे रोरे रोके</string>
	</array>
	<array>
		<string>second</string>
		<string>चच चच चच चच चच</string>
		<string>तत तत तत तत तत</string>
		<string>कक कक कक कक</string>
		<string>रर रर रर रर रर</string>
		<string>पप पप पप पप पप</string>
		<string>चत चत चत चत चत</string>
		<string>चक चक चक चक कच</string>
		<string>रक रक रत रत रच रच</string>
		<string>टट टच टट टट टट टट टट</string>
		<string>टच टच चट चट चट चटप</string>
		<string>टचप टचप टचप पतच</string>
		<string>चो चो चो चो चोर चोर चोर</string>
		<string>तोर रोच रोच रोत रोत रोक</string>
		<string>कोक कोत कोच कोच कोर</string>
		<string>रेत रेत रेत रेट टेट टेक टेप</string>
		<string>रिक किक कित कित</string>
		<string>किप पिक</string>
		<string>चोच चेचे चोचो</string>
		<string>कोको कोके कोके</string>
		<string>रोरो रोरे रोरे रोके</string>
	</array>
	<array>
		<string>third</string>
		<string>चच चच चच चच चच</string>
		<string>तत तत तत तत तत</string>
		<string>कक कक कक कक</string>
		<string>रर रर रर रर रर</string>
		<string>पप पप पप पप पप</string>
		<string>चत चत चत चत चत</string>
		<string>चक चक चक चक कच</string>
		<string>रक रक रत रत रच रच</string>
		<string>टट टच टट टट टट टट टट</string>
		<string>टच टच चट चट चट चटप</string>
		<string>टचप टचप टचप पतच</string>
		<string>चो चो चो चो चोर चोर चोर</string>
		<string>तोर रोच रोच रोत रोत रोक</string>
		<string>कोक कोत कोच कोच कोर</string>
		<string>रेत रेत रेत रेट टेट टेक टेप</string>
		<string>रिक किक कित कित</string>
		<string>किप पिक</string>
		<string>चोच चेचे चोचो</string>
		<string>कोको कोके कोके</string>
		<string>रोरो रोरे रोरे रोके</string>
	</array>
	<array>
		<string>Fourth</string>
		<string>तर रो रथ छक कोख</string>
		<string></string>
	</array>
</array>
</plist>
